---
layout: default
newsletter: May 1, 2022
year: 2022
---
<header class="jumbotron my-4">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      {% assign last_service = site.data._2022.services | last %}
      <h2 class="display-4">{{ last_service.title }}</h2>
      <p class="lead">Recorded on {{ last_service.date | date: "%B %d, %Y" }}</p>
      <audio controls>
        <source src='{{ site.static_url }}/{{ page.year }}/audio/{{ last_service.date | date: "%Y-%m-%d" }}-WRC-service.mp3' />
      </audio>
      <p></p>
      {% if last_service.bulletin %}
      <p>
        <a class="btn btn-primary" href="{{ site.static_url }}/{{ page.year }}/bulletin/{{ last_service.date | date: "%Y-%m-%d" }}-WRC-bulletin.pdf">Read the Bulletin</a>
      </p>
      {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
      <img __style="margin-top: 25px;" class="img-fluid rounded"
        src='img/latest-sign.jpg?date={{ last_service.date | date: "%Y-%m-%d" }}' alt="Church Service Sign" />
    </div>
  </div>
</header>

{% include announcement.html %}
{% include sundayschool.html %}

<div class="row text-center">

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <h4 class="card-header card-title">Archives</h4>
      <div class="card-body">
        <div class="accordion" id="serviceAccordion">

          {% include archive2022.html %}
          {% include archive2021.html %}
          {% include archive2020.html %}

        </div>
      </div>
    </div>
  </div>

  {% include newsletters.html %}

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <h4 class="card-header card-title">Contact<h4>
          <div class="card-body">
            <p class="card-text font-weight-bold">Woestina Reformed Church</p>
            <p class="card-text">1397 Main Street<br />P.O. Box 420<br />Rotterdam Junction, NY 12150</p>
            <p class="card-text">Phone: (518) 887-5152</p>
          </div>
    </div>
  </div>

</div>