<div class="card">
    <div class="card-header" id="serviceHeading2025">
        <h2 class="mb-0">
        <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#service2025">
            2025
        </button>
        </h2>
    </div>
    <div id="service2025" class="collapse" data-parent="#serviceAccordion">
        <div class="card-body">
            {% assign services = site.data._2025.services | reverse %}
            {% assign linkyear = 2025 %}
            {% include services.html %}
        </div>
    </div>
</div>
