<!-- 2020 -->
<div class="card">
<div class="card-header" id="serviceHeading2020">
    <h2 class="mb-0">
    <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#service2020">
        2020
    </button>
    </h2>
</div>
<div id="service2020" class="collapse" data-parent="#serviceAccordion">
    <div class="card-body">
    <ul class="list-unstyled">
        <li><a href="{{ site.static_url }}/2020/audio/2020-12-27-WRC-service.mp3" download="2020-12-27-WRC-service.mp3" target="_blank">December 27, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-12-20-WRC-service.mp3" download="2020-12-20-WRC-service.mp3" target="_blank">December 20, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-12-13-WRC-service.mp3" download="2020-12-13-WRC-service.mp3" target="_blank">December 13, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-12-06-WRC-service.mp3" download="2020-12-06-WRC-service.mp3" target="_blank">December 6, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-11-29-WRC-service.mp3" download="2020-11-29-WRC-service.mp3" target="_blank">November 29, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-11-22-WRC-service.mp3" download="2020-11-22-WRC-service.mp3" target="_blank">November 22, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-11-15-WRC-service.mp3" download="2020-11-15-WRC-service.mp3" target="_blank">November 15, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-11-08-WRC-service.mp3" download="2020-11-08-WRC-service.mp3" target="_blank">November 8, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-11-01-WRC-service.mp3" download="2020-11-01-WRC-service.mp3" target="_blank">November 1, 2020</a></li>
        <li><a href="{{ site.static_url }}//2020audio/2020-10-25-WRC-service.mp3" download="2020-10-25-WRC-service.mp3" target="_blank">October 25, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-10-18-WRC-service.mp3" download="2020-10-18-WRC-service.mp3" target="_blank">October 18, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-10-11-WRC-service.mp3" download="2020-10-11-WRC-service.mp3" target="_blank">October 11, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-10-04-WRC-service.mp3" download="2020-10-04-WRC-service.mp3" target="_blank">October 4, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-09-20-WRC-service.mp3" download="2020-09-20-WRC-service.mp3" target="_blank">September 20, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-09-13-WRC-service.mp3" download="2020-09-13-WRC-service.mp3" target="_blank">September 13, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-09-06-WRC-service.mp3" download="2020-09-06-WRC-service.mp3" target="_blank">September 6, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-08-30-WRC-service.mp3" download="2020-08-30-WRC-service.mp3" target="_blank">August 30, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-08-23-WRC-service.mp3" download="2020-08-23-WRC-service.mp3" target="_blank">August 23, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-08-16-WRC-service.mp3" download="2020-08-16-WRC-service.mp3" target="_blank">August 16, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-08-02-WRC-service.mp3" download="2020-08-02-WRC-service.mp3" target="_blank">August 2, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-07-12-WRC-service.mp3" download="2020-07-12-WRC-service.mp3" target="_blank">July 12, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-07-05-WRC-service.mp3" download="2020-07-05-WRC-service.mp3" target="_blank">July 7, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-06-28-WRC-service.mp3" download="2020-06-28-WRC-service.mp3" target="_blank">June 28, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-06-21-WRC-service.mp3" download="2020-06-21-WRC-service.mp3" target="_blank">June 21, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-06-14-WRC-service.mp3" download="2020-06-14-WRC-service.mp3" target="_blank">June 14, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-06-07-WRC-service.mp3" download="2020-06-07-WRC-service.mp3" target="_blank">June 7, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-05-31-WRC-service.mp3" download="2020-05-31-WRC-service.mp3" target="_blank">May 31, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-05-24-WRC-service.mp3" download="2020-05-24-WRC-service.mp3" target="_blank">May 24, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-05-17-WRC-service.mp3" download="2020-05-17-WRC-service.mp3" target="_blank">May 17, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-05-10-WRC-service.mp3" download="2020-05-10-WRC-service.mp3" target="_blank">May 10, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-05-03-WRC-service.mp3" download="2020-05-03-WRC-service.mp3" target="_blank">May 3, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-04-26-WRC-service.mp3" download="2020-04-26-WRC-service.mp3" target="_blank">April 26, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-04-19-WRC-service.mp3" download="2020-04-19-WRC-service.mp3" target="_blank">April 19, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-04-12-WRC-service.mp3" download="2020-04-12-WRC-service.mp3" target="_blank">April 12, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-04-05-WRC-service.mp3" download="2020-04-05-WRC-service.mp3" target="_blank">April 5, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-03-29-WRC-service.mp3" download="2020-03-29-WRC-service.mp3" target="_blank">March 29, 2020</a></li>
        <li><a href="{{ site.static_url }}/2020/audio/2020-03-22-WRC-service.mp3" download="2020-03-22-WRC-service.mp3" target="_blank">March 22, 2020</a></li>
    </ul>

    </div>
</div>
</div>