  <!--
   !
   ! Newsletters
   !
  -->
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <h4 class="card-header card-title">Newsletters</h4>
      <div class="card-body">
        <div class="accordion" id="newsletterAccordion">
       
          <div class="card">
            <div class="card-header" id="newsletterHeading2022">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#newsletter2022">
                  2022
                </button>
              </h2>
            </div>
            <div id="newsletter2022" class="collapse show" data-parent="#newsletterAccordion">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li><a href="{{ site.static_url }}/2022/newsletter/2022-04-01-WRC-newsletter.pdf">April 2022</a></li>
                  <li><a href="{{ site.static_url }}/2022/newsletter/2022-03-01-WRC-newsletter.pdf">March 2022</a></li>
                  <li><a href="{{ site.static_url }}/2022/newsletter/2022-02-01-WRC-newsletter.pdf">February 2022</a></li>
                  <li><a href="{{ site.static_url }}/2022/newsletter/2022-01-01-WRC-newsletter.pdf">January 2022</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="newsletterHeading2021">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#newsletter2021">
                  2021
                </button>
              </h2>
            </div>
            <div id="newsletter2021" class="collapse"  data-parent="#newsletterAccordion">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-12-01-WRC-newsletter.pdf">December 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-11-01-WRC-newsletter.pdf">November 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-10-01-WRC-newsletter.pdf">October 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-09-01-WRC-newsletter.pdf">September 2021</a></li>
                  <li><a title="The newsletter is not published during the summer months.">August 2021</a></li>
                  <li><a title="The newsletter is not published during the summer months.">July 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-06-01-WRC-newsletter.pdf">June 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-05-01-WRC-newsletter.pdf">May 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-04-01-WRC-newsletter.pdf">April 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-03-01-WRC-newsletter.pdf">March 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-02-01-WRC-newsletter.pdf">February 2021</a></li>
                  <li><a href="{{ site.static_url }}/2021/newsletter/2021-01-01-WRC-newsletter.pdf">January 2021</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="newsletterHeading2020">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#newsletter2020">
                  2020
                </button>
              </h2>
            </div>
            <div id="newsletter2020" class="collapse" data-parent="#newsletterAccordion">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-12-01-WRC-newsletter.pdf">December 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-11-01-WRC-newsletter.pdf">November 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-10-01-WRC-newsletter.pdf">October 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-09-01-WRC-newsletter.pdf">September 2020</a></li>
                  <li><a title="The newsletter is not published during the summer months.">August 2020</a></li>
                  <li><a title="The newsletter is not published during the summer months.">July 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-06-01-WRC-newsletter.pdf">June 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-05-01-WRC-newsletter.pdf">May 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-04-01-WRC-newsletter.pdf">April 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-03-01-WRC-newsletter.pdf">March 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-02-01-WRC-newsletter.pdf">February 2020</a></li>
                  <li><a href="{{ site.static_url }}/2020/newsletter/2020-01-01-WRC-newsletter.pdf">January 2020</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <a href='{{ site.static_url }}/2021/newsletter/{{ page.newsletter | date: "%Y-%m-%d"}}-WRC-newsletter.pdf'
          class="btn btn-primary">Read the latest Newsletter</a>
      </div>
    </div>
  </div>